header {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}

header nav {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

header li {
    margin: 0 1rem;
}

header a {
    color: var(--text-color);
    text-decoration: none;
    font-weight: 600;
}